In [1]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import psycopg2 # needed to get database exception errors when uploading dataframe
import requests # package for getting data from the web
from zipfile import * # package for unzipping zip files
from sql_functions import get_dataframe
import sql_functions

In [2]:
import matplotlib # Imports entire matplotlib library
import matplotlib.pyplot as plt # Imports the plotting interface and gives a shortcut
%matplotlib inline
import seaborn as sns
import matplotlib.dates as mdates

In [3]:
# loading the data
sub = pd.read_csv("data/months_combined.csv")

In [5]:
# loading the data
sub4 = pd.read_csv("data/merged_monthly.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 3

In [6]:
sub.head()

,index,date,federal_state_id,federal_state_name,professional_area_ID,professional_area,number_of_unemployed,number_of_job _seekers,reported_open_positions,reported_open_positions_moving_annual_total
0,1,15/04/2020,1,Schleswig-Holstein,NaN,Gesamt,"40,792","69,463","18,405","50,752"
1,2,15/04/2020,1,Schleswig-Holstein,11.0,"Land-, Tier-, Forstwirtschaftsberufe",293,468,92,258
2,3,15/04/2020,1,Schleswig-Holstein,111.0,Landwirtschaft,107,175,41,116
3,4,15/04/2020,1,Schleswig-Holstein,1110.0,Berufe in der Landwirtschaft (o.S.),88,149,37,101
4,5,15/04/2020,1,Schleswig-Holstein,11102.0,Landwirtschaft (o.S.) - Fachkraft,47,79,34,82

In [7]:
sub['federal_state_id'] = ["Max", "Moritz", "Monika"]

ValueError: Length of values (3) does not match length of index (1022397)

In [8]:
# Creating and filling the column "federal_state_ID"

sub['federal_state_id'] = np.where(sub['federal_state_name'] == 'Schleswig-Holstein', 1, 
                                    np.where(sub['federal_state_name'] == 'Hamburg', 2,
                                   np.where(sub['federal_state_name'] == 'Saarland', 10, 
                                   np.where(sub['federal_state_name'] == 'Berlin', 11,
                                   np.where(sub['federal_state_name'] == 'Brandenburg', 12,
                                   np.where(sub['federal_state_name'] == 'Mecklenburg-Vorpommern', 13,
                                  np.where(sub['federal_state_name'] == 'Sachsen', 14,
                                   np.where(sub['federal_state_name'] == 'Thüringen', 16,
                               np.where(sub['federal_state_name'] == 'Niedersachsen', 3,
                        np.where(sub['federal_state_name'] == 'Bremen', 4,
                        np.where(sub['federal_state_name'] == 'Nordrhein-Westfalen', 5,
                      np.where(sub['federal_state_name'] == 'Hessen', 6,
                    np.where(sub['federal_state_name'] == 'Rheinland-Pfalz', 7,
                np.where(sub['federal_state_name'] == 'Baden-Württemberg', 8,
                                np.where(sub['federal_state_name'] == 'Bayern', 9,
       np.where(sub['federal_state_name'] == 'Sachsen-Anhalt', 15, 0))))))))))))))))

In [9]:
sub['federal_state_name'] == "Hamburg"

0          False
1          False
2          False
3          False
4          False
           ...
1022392    False
1022393    False
1022394    False
1022395    False
1022396    False
Name: federal_state_name, Length: 1022397, dtype: bool

In [10]:
# replacinvg x, - * with 0
sub.replace('*', 0, inplace=True)
sub.replace('-', 0, inplace=True)
sub.replace('x', 0, inplace=True)

In [11]:
sub[sub['federal_state_name']== "Sachsen-Anhalt"]

,index,date,federal_state_id,federal_state_name,professional_area_ID,professional_area,number_of_unemployed,number_of_job _seekers,reported_open_positions,reported_open_positions_moving_annual_total
19093,19094,15/04/2020,15,Sachsen-Anhalt,NaN,Gesamt,"36,172","64,667","15,217","40,576"
19094,19095,15/04/2020,15,Sachsen-Anhalt,11.0,"Land-, Tier-, Forstwirtschaftsberufe",341,595,123,379
19095,19096,15/04/2020,15,Sachsen-Anhalt,111.0,Landwirtschaft,127,214,42,123
19096,19097,15/04/2020,15,Sachsen-Anhalt,1110.0,Berufe in der Landwirtschaft (o.S.),91,164,37,100
19097,19098,15/04/2020,15,Sachsen-Anhalt,11102.0,Landwirtschaft (o.S.) - Fachkraft,79,138,32,72
...,...,...,...,...,...,...,...,...,...,...
1021205,19635,15/04/2019,15,Sachsen-Anhalt,94612.0,Bühnen- und Kostümbildnerei - Fachkraft,8,10,-,-
1021206,19636,15/04/2019,15,Sachsen-Anhalt,9462.0,Berufe in der Requisite,3,8,*,*
1021207,19637,15/04/2019,15,Sachsen-Anhalt,947.0,Museumstechnik und -management,15,30,3,8
1021208,19638,15/04/2019,15,Sachsen-Anhalt,9470.0,Museumsberufe (o.S.),14,27,*,6
1021209,19639,15/04/2019,15,Sachsen-Anhalt,94704.0,Museum (o.S.) - Experte,14,27,*,6

In [12]:
sub[sub['number_of_job _seekers']== "-"]

Empty DataFrame
Columns: [index, date, federal_state_id, federal_state_name, professional_area_ID, professional_area, number_of_unemployed, number_of_job _seekers, reported_open_positions, reported_open_positions_moving_annual_total]
Index: []

In [13]:
sub2 = pd.read_csv("data/months_combined.csv")

In [14]:
sub2.replace('*', '0', inplace=True)
sub2.replace('-', '0', inplace=True)
sub2.replace('x', '0', inplace=True)

In [15]:
sub2['number_of_unemployed'] = pd.to_numeric(sub2['number_of_unemployed'], errors='coerce')

In [16]:
sub2.replace('*', 0, inplace=True)
sub2.replace('-', 0, inplace=True)
sub2.replace('x', 0, inplace=True)

In [17]:
sub2.head(40)

,index,date,federal_state_id,federal_state_name,professional_area_ID,professional_area,number_of_unemployed,number_of_job _seekers,reported_open_positions,reported_open_positions_moving_annual_total
0,1,15/04/2020,1,Schleswig-Holstein,NaN,Gesamt,NaN,"69,463","18,405","50,752"
1,2,15/04/2020,1,Schleswig-Holstein,11.0,"Land-, Tier-, Forstwirtschaftsberufe",293.0,468,92,258
2,3,15/04/2020,1,Schleswig-Holstein,111.0,Landwirtschaft,107.0,175,41,116
3,4,15/04/2020,1,Schleswig-Holstein,1110.0,Berufe in der Landwirtschaft (o.S.),88.0,149,37,101
4,5,15/04/2020,1,Schleswig-Holstein,11102.0,Landwirtschaft (o.S.) - Fachkraft,47.0,79,34,82
5,6,15/04/2020,1,Schleswig-Holstein,11103.0,Landwirtschaft (o.S.) - Spezialist,8.0,11,-,-
6,7,15/04/2020,1,Schleswig-Holstein,11104.0,Landwirtschaft (o.S.) - Experte,33.0,59,3,19
7,8,15/04/2020,1,Schleswig-Holstein,1113.0,Berufe landwirtsch.-techn. Laboratorium,4.0,4,-,9
8,9,15/04/2020,1,Schleswig-Holstein,11132.0,Landwirtsch.-tech.Laboratorium-Fachkraft,4.0,4,-,9
9,10,15/04/2020,1,Schleswig-Holstein,1118.0,Berufe in der Landwirtschaft (s.s.T.),3.0,5,-,-
10,11,15/04/2020,1,Schleswig-Holstein,1119.0,Aufsicht und Führung - Landwirtschaft,12.0,15,4,6
11,12,15/04/2020,1,Schleswig-Holstein,11193.0,Aufsicht - Landwirtschaft,4.0,6,4,6
12,13,15/04/2020,1,Schleswig-Holstein,11194.0,Führung - Landwirtschaft,8.0,9,-,-
13,14,15/04/2020,1,Schleswig-Holstein,112.0,Tierwirtschaft,18.0,34,16,34
14,15,15/04/2020,1,Schleswig-Holstein,1121.0,Berufe in der Nutztierhaltung,16.0,29,14,32
15,16,15/04/2020,1,Schleswig-Holstein,11212.0,Nutztierhaltung - Fachkraft,15.0,27,12,28
16,17,15/04/2020,1,Schleswig-Holstein,113.0,Pferdewirtschaft,64.0,100,15,44
17,18,15/04/2020,1,Schleswig-Holstein,1130.0,Berufe in der Pferdewirtschaft (o.S.),37.0,63,10,36
18,19,15/04/2020,1,Schleswig-Holstein,11302.0,Pferdewirtschaft (o.S.) - Fachkraft,37.0,63,10,36
19,20,15/04/2020,1,Schleswig-Holstein,1131.0,Berufe i.d. Pferdewirtschaft-Pferdezucht,10.0,12,*,3
20,21,15/04/2020,1,Schleswig-Holstein,11312.0,Pferdewirtschaft-Pferdezucht - Fachkraft,10.0,12,*,3
21,22,15/04/2020,1,Schleswig-Holstein,1132.0,Berufe in der Pferdewirtschaft - Reiten,11.0,14,4,4
22,23,15/04/2020,1,Schleswig-Holstein,11322.0,Pferdewirtschaft-Reiten - Fachkraft,11.0,14,4,4
23,24,15/04/2020,1,Schleswig-Holstein,1133.0,Hufbeschlagschmiede/-schmiedinnen,4.0,6,-,-
24,25,15/04/2020,1,Schleswig-Holstein,11333.0,Hufbeschlagschmiede/innen - Spezialist,4.0,6,-,-
25,26,15/04/2020,1,Schleswig-Holstein,114.0,Fischwirtschaft,44.0,54,4,13
26,27,15/04/2020,1,Schleswig-Holstein,1141.0,Berufe in der Fischzucht,5.0,8,-,-
27,28,15/04/2020,1,Schleswig-Holstein,11412.0,Fischzucht - Fachkraft,5.0,8,-,-
28,29,15/04/2020,1,Schleswig-Holstein,1142.0,Berufe in der Fischerei,36.0,42,3,12
29,30,15/04/2020,1,Schleswig-Holstein,11422.0,Fischerei - Fachkraft,36.0,42,3,12
30,31,15/04/2020,1,Schleswig-Holstein,1149.0,Aufsicht und Führung - Fischwirtschaft,3.0,4,*,*
31,32,15/04/2020,1,Schleswig-Holstein,11493.0,Aufsicht - Fischwirtschaft,3.0,4,*,*
32,33,15/04/2020,1,Schleswig-Holstein,115.0,Tierpflege,43.0,75,7,23
33,34,15/04/2020,1,Schleswig-Holstein,1152.0,"Berufe in der Haus-, Zootierpflege",40.0,60,5,19
34,35,15/04/2020,1,Schleswig-Holstein,11522.0,"Haus-, Zootierpflege - Fachkraft",40.0,60,5,19
35,36,15/04/2020,1,Schleswig-Holstein,1158.0,Berufe in der Tierpflege (s.s.T.),3.0,14,*,3
36,37,15/04/2020,1,Schleswig-Holstein,11582.0,Tierpflege (s.s.T.) - Fachkraft,3.0,14,*,3
37,38,15/04/2020,1,Schleswig-Holstein,117.0,"Forst-,Jagdwirtschaft, Landschaftspflege",16.0,29,9,28
38,39,15/04/2020,1,Schleswig-Holstein,1171.0,Berufe in der Forstwirtschaft,9.0,14,6,17
39,40,15/04/2020,1,Schleswig-Holstein,11712.0,Forstwirtschaft - Fachkraft,5.0,8,5,7

In [18]:
sub5 = pd.read_csv("data/months_combined.csv")

In [102]:
sub5.head(40)

,index,date,federal_state_id,federal_state_name,professional_area_ID,professional_area,number_of_unemployed,number_of_job _seekers,reported_open_positions,reported_open_positions_moving_annual_total
0,1,15/04/2020,1,Schleswig-Holstein,NaN,Gesamt,"40,792","69,463","18,405","50,752"
1,2,15/04/2020,1,Schleswig-Holstein,11.0,"Land-, Tier-, Forstwirtschaftsberufe",293,468,92,258
2,3,15/04/2020,1,Schleswig-Holstein,111.0,Landwirtschaft,107,175,41,116
3,4,15/04/2020,1,Schleswig-Holstein,1110.0,Berufe in der Landwirtschaft (o.S.),88,149,37,101
4,5,15/04/2020,1,Schleswig-Holstein,11102.0,Landwirtschaft (o.S.) - Fachkraft,47,79,34,82
5,6,15/04/2020,1,Schleswig-Holstein,11103.0,Landwirtschaft (o.S.) - Spezialist,8,11,-,-
6,7,15/04/2020,1,Schleswig-Holstein,11104.0,Landwirtschaft (o.S.) - Experte,33,59,3,19
7,8,15/04/2020,1,Schleswig-Holstein,1113.0,Berufe landwirtsch.-techn. Laboratorium,4,4,-,9
8,9,15/04/2020,1,Schleswig-Holstein,11132.0,Landwirtsch.-tech.Laboratorium-Fachkraft,4,4,-,9
9,10,15/04/2020,1,Schleswig-Holstein,1118.0,Berufe in der Landwirtschaft (s.s.T.),3,5,-,-
10,11,15/04/2020,1,Schleswig-Holstein,1119.0,Aufsicht und Führung - Landwirtschaft,12,15,4,6
11,12,15/04/2020,1,Schleswig-Holstein,11193.0,Aufsicht - Landwirtschaft,4,6,4,6
12,13,15/04/2020,1,Schleswig-Holstein,11194.0,Führung - Landwirtschaft,8,9,-,-
13,14,15/04/2020,1,Schleswig-Holstein,112.0,Tierwirtschaft,18,34,16,34
14,15,15/04/2020,1,Schleswig-Holstein,1121.0,Berufe in der Nutztierhaltung,16,29,14,32
15,16,15/04/2020,1,Schleswig-Holstein,11212.0,Nutztierhaltung - Fachkraft,15,27,12,28
16,17,15/04/2020,1,Schleswig-Holstein,113.0,Pferdewirtschaft,64,100,15,44
17,18,15/04/2020,1,Schleswig-Holstein,1130.0,Berufe in der Pferdewirtschaft (o.S.),37,63,10,36
18,19,15/04/2020,1,Schleswig-Holstein,11302.0,Pferdewirtschaft (o.S.) - Fachkraft,37,63,10,36
19,20,15/04/2020,1,Schleswig-Holstein,1131.0,Berufe i.d. Pferdewirtschaft-Pferdezucht,10,12,*,3
20,21,15/04/2020,1,Schleswig-Holstein,11312.0,Pferdewirtschaft-Pferdezucht - Fachkraft,10,12,*,3
21,22,15/04/2020,1,Schleswig-Holstein,1132.0,Berufe in der Pferdewirtschaft - Reiten,11,14,4,4
22,23,15/04/2020,1,Schleswig-Holstein,11322.0,Pferdewirtschaft-Reiten - Fachkraft,11,14,4,4
23,24,15/04/2020,1,Schleswig-Holstein,1133.0,Hufbeschlagschmiede/-schmiedinnen,4,6,-,-
24,25,15/04/2020,1,Schleswig-Holstein,11333.0,Hufbeschlagschmiede/innen - Spezialist,4,6,-,-
25,26,15/04/2020,1,Schleswig-Holstein,114.0,Fischwirtschaft,44,54,4,13
26,27,15/04/2020,1,Schleswig-Holstein,1141.0,Berufe in der Fischzucht,5,8,-,-
27,28,15/04/2020,1,Schleswig-Holstein,11412.0,Fischzucht - Fachkraft,5,8,-,-
28,29,15/04/2020,1,Schleswig-Holstein,1142.0,Berufe in der Fischerei,36,42,3,12
29,30,15/04/2020,1,Schleswig-Holstein,11422.0,Fischerei - Fachkraft,36,42,3,12
30,31,15/04/2020,1,Schleswig-Holstein,1149.0,Aufsicht und Führung - Fischwirtschaft,3,4,*,*
31,32,15/04/2020,1,Schleswig-Holstein,11493.0,Aufsicht - Fischwirtschaft,3,4,*,*
32,33,15/04/2020,1,Schleswig-Holstein,115.0,Tierpflege,43,75,7,23
33,34,15/04/2020,1,Schleswig-Holstein,1152.0,"Berufe in der Haus-, Zootierpflege",40,60,5,19
34,35,15/04/2020,1,Schleswig-Holstein,11522.0,"Haus-, Zootierpflege - Fachkraft",40,60,5,19
35,36,15/04/2020,1,Schleswig-Holstein,1158.0,Berufe in der Tierpflege (s.s.T.),3,14,*,3
36,37,15/04/2020,1,Schleswig-Holstein,11582.0,Tierpflege (s.s.T.) - Fachkraft,3,14,*,3
37,38,15/04/2020,1,Schleswig-Holstein,117.0,"Forst-,Jagdwirtschaft, Landschaftspflege",16,29,9,28
38,39,15/04/2020,1,Schleswig-Holstein,1171.0,Berufe in der Forstwirtschaft,9,14,6,17
39,40,15/04/2020,1,Schleswig-Holstein,11712.0,Forstwirtschaft - Fachkraft,5,8,5,7

In [ ]:
# read exile file
df = pd.read_excel('data/Jan23.xlsx')

In [ ]:
# convert excel into csv
df.to_csv('df.csv', index=False)